doctype html 
html 
  head
    title Knowledgebase
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
  body
    .container
      header.d-flex.flex-wrap.justify-content-center.py-3.mb-4.border-bottom
      a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href='/')
        svg.bi.me-2(width='40' height='32')
          use(xlink:href='#bootstrap')
      ul.nav.nav-pills
        li.nav-item
          a.nav-link.active(href='/' aria-current='page') Home
        li.nav-item
          a.nav-link(href='#') List Articles
        li.nav-item
          a.nav-link(href='/articles/add') Add Articles
        li.nav-item
          a.nav-link(href='https://icons.getbootstrap.com/') Bootstrap icons

    .container
      block content
        br
        hr
        footer 
          p Copyright &copy; 2022
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')